body {
  width: 100%;
  height: 100vh;
}

h1, h2, span, button, input, label {
  font-family: Helvetica;
  font-weight: 300;
  color: black;
}

button {
  text-align: center;
}
@media (min-width: 768px) {
  button {
    width: 242px;
  }
}

h1, h2 {
  font-size: 22px;
}
@media (min-width: 768px) {
  h1, h2 {
    font-weight: bold;
  }
}

span, input, label, button {
  font-size: 18px;
}
@media (min-width: 768px) {
  span, input, label, button {
    font-size: 30px;
  }
}

img {
  display: block;
}

button {
  width: 100%;
  border-radius: 30px;
  letter-spacing: 0.29px;
  border: none;
  padding: 7px 0;
  transition: 0.3s;
  background-color: grey;
  color: white;
}
@media (min-width: 768px) {
  button {
    border-radius: 5px;
    font-size: 20px;
    padding: 14px;
    width: 242px;
  }
}
button:hover, button :active {
  background-color: grey;
  color: white;
}
button.activated {
  background-color: #009ADA;
  color: #FFFFFF;
}
button.activated:hover {
  background-color: #007BD4;
}
button.activated:active {
  background-color: #007BD4;
  color: black;
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-column-gap: 20px;
  }
}

.grid > * {
  grid-column: col-start/span 12;
}

.screen {
  width: 100vw;
  max-width: 850px;
  margin: 0 auto;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.content {
  position: relative;
  flex: 1;
}

.page {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  min-height: 100%;
}

.left, .center, .right {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  transition: left 0.2s;
}

.center {
  left: 0;
}

.left {
  left: -100vw;
}

.right {
  left: 100vw;
}

.hidden {
  display: none !important;
}

.side-padding {
  padding-left: 9%;
  padding-right: 9%;
}
@media (min-width: 910px) {
  .side-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

header {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
header .brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
header .brand .brand-left {
  width: 18.55%;
  min-width: 85px;
}
header .brand .brand-left img {
  width: 100%;
}
header .brand .brand-right {
  width: 23.05%;
  min-width: 125px;
}
header .brand .brand-right img {
  width: 100%;
}

.landing-page {
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .landing-page {
    padding-bottom: 20px;
  }
}
.landing-page .garage {
  max-width: 100%;
}
.landing-page .body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}
.landing-page h1 {
  margin: 20px 0;
  text-align: left;
}
@media (min-width: 768px) {
  .landing-page h1 {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  .landing-page .location {
    grid-column: col-start 1/span 5;
  }
}
@media (min-width: 768px) {
  .landing-page .date-and-time {
    grid-column: col-start 8/span 5;
  }
}
.landing-page .location,
.landing-page .date-and-time {
  margin: 10px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.landing-page .location .icon img,
.landing-page .date-and-time .icon img {
  width: 18px;
}
@media (min-width: 768px) {
  .landing-page .location .icon img,
.landing-page .date-and-time .icon img {
    min-width: 60px;
  }
}
.landing-page .location .text,
.landing-page .date-and-time .text {
  margin-left: 30px;
}
.landing-page .location .text h2,
.landing-page .date-and-time .text h2 {
  display: none;
  padding: 0;
  margin: 0;
  line-height: 60px;
}
@media (min-width: 768px) {
  .landing-page .location .text h2,
.landing-page .date-and-time .text h2 {
    display: inline-block;
    font-size: 30px;
  }
}
.landing-page .location .text span,
.landing-page .date-and-time .text span {
  display: block;
}
@media (min-width: 768px) {
  .landing-page .buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }
}
.landing-page button {
  margin: 5px 0;
}
@media (min-width: 768px) {
  .landing-page button {
    margin: 0;
  }
}

.signup-page {
  justify-content: space-between;
}
@media (min-width: 768px) {
  .signup-page h2 {
    font-size: 35px;
    font-weight: 300;
  }
}
.signup-page .form-container {
  margin: 10px 0;
}
@media (min-width: 768px) {
  .signup-page .form-container {
    grid-column: col-start 3/span 8;
  }
}
.signup-page .form-container input {
  display: block;
  width: 100%;
  margin-top: 15px;
  border: none;
  border-bottom: 1px solid #009ada;
}
.signup-page .form-container input::placeholder {
  color: rgba(0, 0, 0, 0.38);
  font-style: normal;
}
.signup-page .form-container input.invalid {
  color: red;
}
.signup-page .form-container input.missing {
  color: red;
  font-style: italic;
}
.signup-page .entourage {
  margin: 15px 0;
}
@media (min-width: 768px) {
  .signup-page .entourage {
    grid-column: col-start 3/span 8;
  }
}
.signup-page .entourage .form-container {
  opacity: 0;
  transition: opacity 0.3s;
}
.signup-page .entourage #checkbox-invisible {
  display: none;
}
.signup-page .entourage #checkbox-invisible:checked ~ #checkbox-visible img {
  background-color: #009ADA;
}
.signup-page .entourage #checkbox-invisible:checked ~ .form-container {
  opacity: 1;
}
.signup-page .entourage #checkbox-visible {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.signup-page .entourage #checkbox-visible img {
  display: inline-block;
  background-color: white;
  border: 2px solid #009ADA;
  border-radius: 4px;
  width: 18px;
  transition: all 0.3s;
  margin-right: 18px;
}
.signup-page .entourage #checkbox-visible span {
  color: #009ADA;
}
.signup-page button {
  margin: 10px 0;
}
@media (min-width: 768px) {
  .signup-page button {
    width: 21%;
    max-width: 221px;
    margin: 0 auto;
  }
}
.confirmation-page {
  justify-content: center;
}
.confirmation-page .positive, .confirmation-page .negative {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.confirmation-page .text-container span {
  display: inline-block;
  margin: 18px 0;
}
.confirmation-page .personal-information span {
  margin: 0;
}
.confirmation-page .add-to-calendar {
  display: flex;
  align-items: center;
}
.confirmation-page .add-to-calendar img {
  margin-right: 5px;
  width: 18px;
}
.confirmation-page .add-to-calendar span {
  color: #009ADA;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
