h1, h2, span, button, input, label {
  font-family: Helvetica;
  font-weight: 300;
  color: black;
}

h1, h2, button {
  text-align: center;
}

h1, h2 {
  font-size: 22px;
}
@media (min-width: 768px) {
  h1, h2 {
    font-weight: bold;
  }
}

span, input, label, button {
  font-size: 18px;
}
@media (min-width: 768px) {
  span, input, label, button {
    font-size: 30px;
  }
}

img {
  display: block;
}

button {
  width: 100%;
  border-radius: 30px;
  background-color: #009ADA;
  color: #FFFFFF;
  letter-spacing: 0.29px;
  border: none;
  padding: 7px 0;
  transition: 0.3s;
}
button:hover {
  background-color: #007BD4;
}
button:active {
  background-color: #007BD4;
  color: black;
}
button.inactive {
  background-color: grey;
  color: white;
}
button.inactive:hover, button.inactive :active {
  background-color: grey;
  color: white;
}
@media (min-width: 768px) {
  button {
    border-radius: 5px;
    font-size: 20px;
    padding: 14px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-column-gap: 20px;
}

.grid > * {
  grid-column: col-start/span 12;
}

.screen {
  position: fixed;
  width: 100vw;
  max-width: 850px;
  margin: 0 auto;
  height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.content {
  position: relative;
  flex: 1;
}

.center {
  left: 0;
}

.left {
  left: -100vw;
}

.right {
  left: 100vw;
}

.left, .center, .right {
  position: absolute;
  max-width: 100%;
  transition: left 0.2s;
  width: 100%;
  box-sizing: border-box;
}

.side-padding {
  padding: 0 9%;
}
@media (min-width: 768px) {
  .side-padding {
    padding: 0;
  }
}

.hidden {
  display: none;
}

header {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  padding: 15px 20px;
}
@media (min-width: 768px) {
  header {
    padding: 15px 0;
  }
}
header .brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
header .brand .brand-left {
  min-width: 85px;
  width: 18.55%;
}
header .brand .brand-left img {
  width: 100%;
}
header .brand .brand-right {
  min-width: 125px;
  width: 23.05%;
}
header .brand .brand-right img {
  width: 100%;
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: 100%;
}
.landing-page .garage {
  max-width: 100%;
}
.landing-page h1 {
  margin: 20px 0;
}
@media (min-width: 768px) {
  .landing-page h1 {
    text-align: left;
    margin: 70px 0 50px;
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  .landing-page .location {
    grid-column: col-start 1/span 5;
  }
}
@media (min-width: 768px) {
  .landing-page .date-and-time {
    grid-column: col-start 8/span 5;
  }
}
.landing-page .location, .landing-page .buttons {
  margin: 20px 0;
}
.landing-page .location,
.landing-page .date-and-time {
  display: flex;
  align-items: flex-start;
  margin: 5px 0;
}
@media (min-width: 768px) {
  .landing-page .location,
.landing-page .date-and-time {
    flex-direction: column;
    margin-bottom: 70px;
  }
}
@media (min-width: 768px) {
  .landing-page .location .header,
.landing-page .date-and-time .header {
    display: flex;
    align-items: center;
  }
}
.landing-page .location .header img,
.landing-page .date-and-time .header img {
  width: 18px;
}
@media (min-width: 768px) {
  .landing-page .location .header img,
.landing-page .date-and-time .header img {
    min-width: 60px;
  }
}
.landing-page .location .header h2,
.landing-page .date-and-time .header h2 {
  display: none;
  padding: 0;
  margin: 0;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .landing-page .location .header h2,
.landing-page .date-and-time .header h2 {
    display: inline-block;
    font-size: 30px;
  }
}
.landing-page .location .text,
.landing-page .date-and-time .text {
  margin-left: 30px;
}
@media (min-width: 768px) {
  .landing-page .location .text,
.landing-page .date-and-time .text {
    margin-left: 0;
    margin-top: 50px;
  }
}
.landing-page .location .text span,
.landing-page .date-and-time .text span {
  display: block;
}
.landing-page button {
  margin: 5px 0;
}
@media (min-width: 768px) {
  .landing-page button {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .landing-page .button-positive {
    grid-column: col-start 3/span 4;
  }
}
@media (min-width: 768px) {
  .landing-page .button-negative {
    grid-column: col-start 7/span 4;
  }
}

@media (min-width: 768px) {
  .signup-page h2 {
    font-size: 35px;
    font-weight: 300;
  }
}
.signup-page .form-container {
  margin: 20px 0;
}
@media (min-width: 768px) {
  .signup-page .form-container {
    grid-column: col-start 3/span 8;
  }
}
.signup-page .form-container.negative {
  margin-top: 80px;
}
.signup-page .form-container input {
  display: block;
  width: 100%;
  margin-top: 15px;
  border: none;
  border-bottom: 1px solid #009ada;
}
.signup-page .form-container input::placeholder {
  color: rgba(0, 0, 0, 0.38);
  font-style: normal;
}
.signup-page .form-container input.invalid {
  color: red;
}
.signup-page .form-container input.missing {
  color: red;
  font-style: italic;
}
.signup-page .entourage {
  margin: 15px 0;
}
@media (min-width: 768px) {
  .signup-page .entourage {
    grid-column: col-start 3/span 8;
  }
}
.signup-page .entourage .form-container {
  opacity: 0;
  transition: opacity 0.3s;
}
.signup-page .entourage #checkbox-invisible {
  display: none;
}
.signup-page .entourage #checkbox-invisible:checked ~ #checkbox-visible img {
  background-color: #009ADA;
}
.signup-page .entourage #checkbox-invisible:checked ~ .form-container {
  opacity: 1;
}
.signup-page .entourage #checkbox-visible img {
  background-color: white;
  border: 2px solid #009ADA;
  border-radius: 4px;
  display: inline-block;
  width: 18px;
  vertical-align: bottom;
  transition: all 0.3s;
}
.signup-page .entourage .text {
  color: #009ADA;
}
.signup-page button {
  margin-top: 70px;
}
@media (min-width: 768px) {
  .signup-page button {
    width: 21%;
    max-width: 221px;
    margin: 0 auto;
  }
}
.signup-page button.negative {
  margin-top: 200px;
}

.confirmation-page .confirmation-negative {
  margin: 100px 0;
}
.confirmation-page .text-container {
  margin: 30px 0;
}
.confirmation-page .text-container span {
  display: inline-block;
  margin: 18px 0;
}
.confirmation-page .personal-information span {
  margin: 0;
}
.confirmation-page .add-to-calendar {
  display: flex;
  align-items: center;
}
.confirmation-page .add-to-calendar img {
  margin-right: 5px;
  width: 18px;
}
.confirmation-page .add-to-calendar span {
  color: #009ADA;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
