h1, span, button, input, label {
  font-family: Helvetica;
  font-weight: 300;
  color: black;
}

h1, button {
  text-align: center;
}

h1 {
  font-size: 22px;
}

span, input, label, button {
  font-size: 18px;
}

img {
  display: block;
}

.screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  padding-top: 51.47px;
}

.side-padding {
  padding-left: 9%;
  padding-right: 9%;
}

.hidden {
  display: none;
}

button {
  width: 100%;
  border-radius: 30px;
  background-color: #009ADA;
  color: #FFFFFF;
  letter-spacing: 0.29px;
  border: none;
  padding: 7px 0;
  transition: 0.2s;
}
button:hover {
  background-color: #007BD4;
}
button:active {
  background-color: #007BD4;
  color: black;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  padding: 15px 20px;
}
header .brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
header .brand .brand-left {
  display: block;
}
header .brand .brand-left img {
  width: 85px;
}
header .brand .brand-right img {
  width: 125px;
}

.landing-page .garage {
  max-width: 100%;
}
.landing-page .body h1 {
  margin: 20px 0;
}
.landing-page .body .info, .landing-page .body .buttons {
  margin: 20px 0;
}
.landing-page .body .date-and-time,
.landing-page .body .location {
  display: flex;
  align-items: flex-start;
  margin: 5px 0;
}
.landing-page .body .date-and-time img,
.landing-page .body .location img {
  width: 18px;
}
.landing-page .body .date-and-time .text span,
.landing-page .body .location .text span {
  display: block;
  margin-left: 30px;
}
.landing-page .body button {
  margin: 5px 0;
}

.signup-page h1 {
  margin: 20px 0;
}
.signup-page .form-container {
  margin: 20px 0;
}
.signup-page .form-container.negative {
  margin-top: 80px;
}
.signup-page .form-container input {
  display: block;
  width: 100%;
  margin-top: 15px;
  border: none;
  border-bottom: 1px solid #009ada;
}
.signup-page .form-container input::placeholder {
  color: rgba(0, 0, 0, 0.38);
  font-style: normal;
}
.signup-page .form-container input.faulty {
  color: red;
}
.signup-page .form-container input.missing {
  color: red;
  font-style: italic;
}
.signup-page .entourage {
  margin: 15px 0;
}
.signup-page .entourage .form-container {
  visibility: hidden;
}
.signup-page .entourage .hidden_checkbox {
  display: none;
}
.signup-page .entourage .hidden_checkbox:checked ~ .visible_checkbox img {
  background-color: #009ADA;
}
.signup-page .entourage .hidden_checkbox:checked ~ .form-container {
  visibility: visible;
}
.signup-page .entourage .visible_checkbox img {
  background-color: white;
  border: 2px solid #009ADA;
  border-radius: 4px;
  display: inline-block;
  width: 18px;
  vertical-align: bottom;
  transition: all 0.2s;
}
.signup-page .entourage .text {
  color: #009ADA;
}
.signup-page button {
  margin-top: 60px;
}
.signup-page button.negative {
  margin-top: 120px;
}

.confirmation-page #confirmation-negative {
  margin: 100px 0;
}
.confirmation-page .text-container {
  margin: 30px 0;
}
.confirmation-page .text-container span {
  display: inline-block;
  margin: 18px 0;
}
.confirmation-page #personal-information span {
  margin: 0;
}
.confirmation-page #add-to-calendar {
  display: flex;
  align-items: center;
}
.confirmation-page #add-to-calendar img {
  margin-right: 5px;
  width: 18px;
}
.confirmation-page #add-to-calendar span {
  color: #009ADA;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
