// variables
//media breakpoints
  // Small devices (landscape phones, 576px and up)
  $small-devices:       576px;
  // Medium devices (tablets, 768px and up)
  $medium-devices:      768px;
  // Large devices (desktops, 992px and up)
  $large-devices:       992px;
  // Extra large devices (large desktops, 1200px and up)
  $extra-large-devices: 1200px;

//others
$screen-max-width: 850px;


//Universal rules
h1, h2, span, button, input, label {
  font-family: Helvetica;
  font-weight: 300;
  color: black;
}

button {
  text-align: center;
  @media(min-width: $medium-devices) {
    width: 242px;
  }
}

h1, h2 {
  font-size: 22px;
  @media(min-width: $medium-devices) {
    font-weight: bold;
  }
}

span, input, label, button {
  font-size: 18px;
  @media(min-width: $medium-devices) {
    font-size: 30px;
  }
}

img {
  display: block;
}


button {
width: 100%;
border-radius: 30px;
letter-spacing: 0.29px;
border: none;
padding: 7px 0;
transition: .3s;
background-color: grey;
color: white;
@media(min-width: $medium-devices) {
  border-radius: 5px;
  font-size: 20px;
  padding: 14px;
  width: 242px;
}
&:hover,:active {
  background-color: grey;
  color: white;
  }
&.activated {
  background-color: #009ADA;
  color: #FFFFFF;
  &:hover {
    background-color: #007BD4;
    }
  &:active {
    background-color: #007BD4;
    color: black;
    }
  }
}

//Create grid
.grid {
  @media(min-width: $medium-devices) {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-column-gap: 20px;
  }
}
// All children of grid span the entire grid automatically
.grid > * {
  grid-column: col-start / span 12;
}

// Fill whole viewport with screen
.screen {
  width: 100vw;
  max-width: $screen-max-width;
  //center your screen inside the viewport
  margin: 0 auto;
  height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction:column;
}

//Fill remaining space of viewport (screen - header) with .content
.content {
  position: relative;
  flex: 1;
}

//Use bellow classes to create dynamically moving pages (moving right to left)
.left, .center, .right {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  transition: left .2s;
}
.center {
  left: 0;
}
.left {
  left: -100vw;
}
.right {
  left: 100vw;
}

//Use bellow class to hide certain elements (for example, hide all positive elements when selection is negative, vise versa)
.hidden {
  display: none !important;
}

.side-padding {
  padding-left: 9%;
  padding-right: 9%;
  @media(min-width: $screen-max-width + 60px) {
    padding-left: 0;
    padding-right: 0;
  }
}


 header {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  @media(min-width: $medium-devices) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    .brand-left {
      width: 18.55%;
      min-width: 85px;
      img {
        width: 100%;
      }
    }
    .brand-right {
      width: 23.05%;
      min-width: 125px;
      img {
        width: 100%;
      }
    }
  }
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  @media(min-width: $medium-devices) {
    padding-bottom: 20px;
  }
  min-height: 100%;
  .garage {
    max-width: 100%;
  }
  .body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
  }
  h1 {
    margin: 20px 0;
    text-align: left;
    @media(min-width: $medium-devices) {
      font-size: 40px;
    }
  }
  .location {
    @media(min-width: $medium-devices) {
      grid-column: col-start 1 / span 5;
    }
  }
  .date-and-time {
    @media(min-width: $medium-devices) {
      grid-column: col-start 8 / span 5;
    }
  }
  .location,
  .date-and-time {
    margin: 10px 0;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    .icon {
      img {
        width: 18px;
        @media(min-width: $medium-devices) {
          min-width: 60px;
        }
      }
    }
    .text {
      margin-left: 30px;
      h2 {
        display: none;
        padding: 0;
        margin: 0;
        line-height: 60px;
        @media(min-width: $medium-devices) {
          display: inline-block;
          font-size: 30px;
        }
      }
      span {
        display: block;
      }
    }
  }
  .buttons {
    @media(min-width: $medium-devices) {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: space-evenly;
    }
  }
  button {
    margin: 5px 0;
    @media(min-width: $medium-devices) {
      margin: 0;
    }
  }
}

.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5%;
  height: 100%;
  h2 {
    @media(min-width: $medium-devices) {
      font-size: 35px;
      font-weight: 300;
    }
  }
  .form-container {
    //margin: 20px 0;
    @media(min-width: $medium-devices) {
      grid-column: col-start 3 / span 8;
    }
    &.negative {
      //margin-top: 80px;
    }
    input {
      display: block;
      width: 100%;
      margin-top: 15px;
      border: none;
      border-bottom: 1px solid rgb(0, 154, 218);
      &::placeholder {
        color: rgba(0,0,0,0.38);
        font-style: normal;
      }
      &.invalid {
        color: red;
      }
      &.missing {
        color: red;
        font-style: italic;
      }
    }
  }
  .entourage {
    //margin: 15px 0;
    @media(min-width: $medium-devices) {
      grid-column: col-start 3 / span 8;
    }
    .form-container {
      opacity: 0;
      transition: opacity .3s;
    }
    #checkbox-invisible {
      display: none;
      &:checked {
        ~ #checkbox-visible {
          img {
            background-color: #009ADA;
          }
        }
        ~ .form-container {
          opacity: 1;
        }
      }
    }
    #checkbox-visible {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        display: inline-block;
        background-color: white;
        border: 2px solid #009ADA;
        border-radius: 4px;
        width: 18px;
        transition: all .3s;
        margin-right: 18px;
      }
      span {
        color: #009ADA;
      }
    }
  }
  button {
    //margin-top: 70px;
    @media(min-width: $medium-devices) {
      width: 21%;
      max-width: 221px;
      margin: 0 auto;
    }
    &.negative {
      margin-top: 200px;
    }
  }
}

.confirmation-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  .positive, .negative {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .text-container {
    span {
      display: inline-block;
      margin: 18px 0;
    }
  }
  .personal-information {
    span {
      margin: 0;
    }
  }
  .add-to-calendar {
    img {
      margin-right: 5px;
      width: 18px;
    }
    display: flex;
    align-items: center;
    span {
      color: #009ADA;
      margin: 0;
    }
  }
}
