//Universal rules
h1, h2, span, button, input, label {
  font-family: Helvetica;
  font-weight: 300;
  color: black;
}

h1, h2, button {
  text-align: center;
}

h1, h2 {
  font-size: 22px;
}

span, input, label, button {
  font-size: 18px;
}

img {
  display: block;
}

.screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 51.47px;
}

.center {
  left: 0;
}

.left {
  left: -100vw;
}

.right {
  left: 100vw;
}

.left, .center, .right {
  position: absolute;
  max-width: 100%;
  transition: left .2s;
  width: 100%;
  box-sizing: border-box;
}

.side-padding {
  padding-left: 9%;
  padding-right: 9%;
}

.hidden {
  display: none;
}

button {
width: 100%;
border-radius: 30px;
background-color: #009ADA;
color: #FFFFFF;
letter-spacing: 0.29px;
border: none;
padding: 7px 0;
transition: .3s;
&:hover {
  background-color: #007BD4;
  }
&:active {
  background-color: #007BD4;
  color: black;
  }
&.inactive {
  background-color: grey;
  color: white;
  &:hover,:active {
    background-color: grey;
    color: white;
    }
  }
}

 header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  padding: 15px 20px;
  .brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    .brand-left {
      display: block;
      img {
        width: 85px;
      }
    }
    .brand-right {
      img {
        width: 125px;
      }
    }
  }
}

.landing-page {
  .garage {
    max-width: 100%;
  }
  .body {
    h1 {
      margin: 20px 0;
    }
    .info, .buttons {
      margin: 20px 0;
    }
    .date-and-time,
    .location {
      display: flex;
      align-items: flex-start;
      margin: 5px 0;
      img {
        width: 18px;
      }
      .text {
        span {
          display: block;
          margin-left: 30px;
        }
      }
    }
    button {
      margin: 5px 0;
    }
  }
}

.signup-page {
  h1 {
    margin: 20px 0;
  }
  .form-container {
    margin: 20px 0;
    &.negative {
      margin-top: 80px;
    }
    input {
      display: block;
      width: 100%;
      margin-top: 15px;
      border: none;
      border-bottom: 1px solid rgb(0, 154, 218);
      &::placeholder {
        color: rgba(0,0,0,0.38);
        font-style: normal;
      }
      &.faulty {
        color: red;
      }
      &.missing {
        color: red;
        font-style: italic;
      }
    }
  }
  .entourage {
    margin: 15px 0;
    .form-container {
      opacity: 0;
      transition: opacity .3s;
    }
    #checkbox-invisible {
      display: none;
      &:checked {
        ~ #checkbox-visible {
          img {
            background-color: #009ADA;
          }
        }
        ~ .form-container {
          opacity: 1;
        }
      }
    }
    #checkbox-visible {
      img {
        background-color: white;
        border: 2px solid #009ADA;
        border-radius: 4px;
        display: inline-block;
        width: 18px;
        vertical-align: bottom;
        transition: all .3s;
      }
    }
    .text {
      color: #009ADA;
    }
  }
  button {
    margin-top: 70px;
    &.negative {
      margin-top: 200px;
    }
  }
}

.confirmation-page {
  .confirmation-negative {
    margin: 100px 0;
  }
  .text-container {
    margin: 30px 0;
    span {
      display: inline-block;
      margin: 18px 0;
    }
  }
  .personal-information {
    span {
      margin: 0;
    }
  }
  .add-to-calendar {
    img {
      margin-right: 5px;
      width: 18px;
    }
    display: flex;
    align-items: center;
    span {
      color: #009ADA;
      margin: 0;
    }
  }
}
